<br><br><br><br>
<% if current_user %>
	<div class="center-align">
		<h4>
			<p>Welcome,
				<%= current_user.first_name.capitalize %>! Give us a hint on how you want to eat and we'll do the rest!</p>
		</h4>
	</div>
<% end %><br><br>
<div class="center-align">

	<h4>Where are you looking?</h4>

</div>
<div class="center-align">	<%= form_tag("/restaurant", method: :get, id: 'user_input') do %>

	  <p><input type="radio" id="current_location" name="location" value="current location" checked><label for="current_location">Use Current Location</label></p>

	  <input type="radio" id="enter_location" name="location" value="enter location" class='enter_location'><label for="enter_location">Enter a location</label>

		<%= label_tag :city %>
		<%= text_field_tag :city %>




<div class="center-align">

	<h5>
		<b>How far are you willing to travel?</b>
	</h5><br>

	<div class="row">
		<div class="col s12 m4 l2"></div>

		<div class="row">
			<div class="col s12 m4 l8">
				<span class="flow-text">
					<%= select_tag(:distance, options_for_select(distance) ) %><br><br>
				</span>
			</div>
		</div>

		<h5>
			<b>How much are you willing to pay?</b>
		</h5><br>

		<div class="row">
			<div class="col s12 m4 l2"></div>

			<div class="row">
				<div class="col s12 m4 l8">
					<span class="flow-text">
						<%= select_tag(:price, options_for_select(prices)) %><br><br>
					</span>
				</div>
			</div>

			<%= text_field_tag 'lat'%>
			<%= text_field_tag 'lng' %>

			<a class="waves-effect waves-light btn-small #c5e1a5 light-green lighten-3 black-text">
			<%= submit_tag('Shake It Up!', class: "button") %>
			<% end %>
		</a>
	</div>



<body onload="getLocation();">

<p id="demo"></p>


<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
	document.getElementById('lat').value=position.coords.latitude
	document.getElementById('lng').value=position.coords.longitude
}

</script>

</div>
