    <section id='restaurant'>
      <h1 id='name'><%= @restaurant.name %></h1>
      <ul>
        <li id='address'>Address: <%= @restaurant.address%></li>
        <li id='price'>Price: <%= @restaurant.price%></li>
        <li id='avg_rating'>Average Rating: <%= @restaurant.avg_rating%></li>
        <li id='category'>Category: <%= @restaurant.category %>
      </ul>
    </section>
