<!DOCTYPE html>
<html>
  <head>
    <title>ShakeItUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="nav-wrapper blue-grey darken-1">
          <a href="#" class="brand-logo center">ShakeItUp</a>
          <% if current_user != nil %>

          <div class="row">
        		<div class="col s5">

            <div class="col s12">
              <%= link_to 'Logout', logout_path %>
            </div>
          </div>
          <% end %>
        </div>
      </nav>
      <div class="flash-message">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
