<!DOCTYPE html>
<html>
  <head>
    <title>ShakeItUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper blue-grey darken-1">
          <a href="#" class="brand-logo center">ShakeItUp</a>
          <% if current_user != nil %>
            <%= link_to 'Logout', logout_path %>
          <% end %>
        </div>
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
